# IDE related
/.vscode
/.idea
/.DS_Store
*.suo 
*.user 
*.csproj.user

# build artifacts
/app/bin
/app/build
*.o
*.out
*.exe

# dataset files
/data_gathering/dataset/fma_medium
/data_gathering/dataset/fma_spectrograms
*.zip

# system files
.DS_Store
__pycache__/